* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: sans-serif;
  outline: none;
  text-decoration: none;
  list-style: none;
}

.auth-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.auth-container > h1 {
  font-size: 2em;
  margin: 24px;
}

.auth-container > p {
  margin: 16px;
  text-decoration: underline;
}

.auth-container > form {
  border: 1px solid #3339;
  padding: 20px;
  border-radius: 5px;
  background-color: #aaa9;

  display: flex;
  flex-direction: column;
}

.auth-container > form > input {
  margin: 16px 8px;
  padding: 8px;
  border-radius: 4px;
}

.auth-container > form > button {
  margin: 16px 8px;
  padding: 8px;
  border-radius: 4px;
}
.public {
  height: 100vh;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.profile > h1 {
  margin: 8px;
  font-size: 2em;
  text-align: center;
}

.profile > h3 {
  margin: 16px 0;
  text-decoration: underline;
}
.new-workout-form  {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 95%;
}
.new-workout-form > form {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
  border: 1px solid #3339;
  background-color: #aaa9;
  padding: 16px;
  border-radius: 5px;
  grid-row: 1/2;
}
#new-workout {
  grid-column: 1/5;
  
}
#posted-exercises {
  grid-column: 5/9;
}
#posted-exercises ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}
#new-exercise {
  grid-column: 9/13;
  grid-row: 1/3;
}
#added-exercises {
  grid-row: 2/3;
  grid-column: 1/9;
  display: flex;
}
#added-exercises div {
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 2.3px;
}